<?xml version='1.0' encoding='utf-8'?>
<widget id="io.smartholdem.fa" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Smart2FA</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@smartholdem.io" href="https://smartholdem.io">
        Apache Cordova Team
    </author>
    <hook src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" type="after_prepare" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!--
    <plugin name="cordova-plugin-whitelist" spec="1"/>
    -->
    <!-- Enable requests to content: URLs -->
    <!--
    <access origin="content:///*" />
    <allow-navigation href="data:*" />
    -->

    <plugin name="cordova.plugins.diagnostic" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />
    <preference name="Camera" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/android/icon/ldpi.png" />
        <icon density="mdpi" src="resources/android/icon/mdpi.png" />
        <icon density="hdpi" src="resources/android/icon/hdpi.png" />
        <icon density="xhdpi" src="resources/android/icon/xhdpi.png" />
        <icon density="xxhdpi" src="resources/android/icon/xxhdpi.png" />
        <icon density="xxxhdpi" src="resources/android/icon/xxxhdpi.png" />
        <splash density="ldpi" src="resources/android/splash/splash-port-ldpi.png" />
        <splash density="mdpi" src="resources/android/splash/splash-port-mdpi.png" />
        <splash density="hdpi" src="resources/android/splash/splash-port-hdpi.png" />
        <splash density="xhdpi" src="resources/android/splash/splash-port-xhdpi.png" />
        <splash density="xxhdpi" src="resources/android/splash/splash-port-xxhdpi.png" />
        <splash density="xxxhdpi" src="resources/android/splash/splash-port-xxxhdpi.png" />
    </platform>
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
        <string>Need camera access to Scan QR</string>
    </edit-config>

</widget>
